.navigation{
    width: 100vw;
   min-height: 3rem;
    background-color: lightgray;
    padding: 1rem;
}

.navigation-ul{
    display: flex;
    justify-content:space-around;
}
.navigation-ul li {
    padding: 10px;
    list-style: none;
    background-color: chartreuse;
    border-radius: 50%
}