.App {
  text-align: center;
}

li {
  display: inline;
  list-style: none;
  margin: 20px;
}
.link {
  text-decoration: none;
  color: blue;
}

.home {
  margin-left: 70px;
  width: 90%;
  height: 100px;
  background-color: lightgray;
}
